<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#292a2d" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
    <meta property="og:url"                content="https://currencyinfowasnotavailable.herokuapp.com/" />
    <meta property="og:title"              content="Currency Exchange Rates" />
    <meta property="og:description"        content="i just made it ._." />
    <title>Currency Exchange Rates</title>
</head>


<body style="background-color: rgba(0,0,0,0.9); font-family: 'Montserrat', sans-serif;">
    <p style="text-align: center; color: white; font-size: 25px;" id="date"></p>
    <p style="text-align: center; color: white; font-size: 20px;">USD 1 =</p>
    <table style="color: white; margin-left: auto; margin-right: auto;">
        <tr>
            <th style="color: #9A00F5;">EUR</th>
            <td id="eur"><%-eur%></td>
          </tr>
          <tr>
            <th style="color:#44EB4B;">BRL</th>
            <td id="brl"><%-brl%></td>
          </tr>
          <tr>
            <th style="color:#DB3000;">GBP</th>
            <td id="GBP"><%-gbp%></td>
          </tr>

    </table>
    <p style="text-align: center; color: white; font-size: 25px;">Historical data:</p>
    <canvas id="data" style="width:100%;max-width:700px; display:block; margin: 0 auto;"></canvas>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>

var day = new Date().getDate()
var month = new Date().getMonth() + 1;
var year = new Date().getFullYear();

if(day < 10){
day = "0" + day;
}
if(month < 10){
    month = "0" + month;
}
    document.getElementById("date").innerText = day + "/" + month + "/" + year
    
var result = [<%-history%>];
var days =  [<%-days%>];
var xValues = [];

for(var i = 0; i < days[0].length; i++){
  let x = days[0][i].split("-")[2] + "/" + days[0][i].split("-")[1] + "/" + days[0][i].split("-")[0]
  xValues.push(x)
}
  new Chart("data", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: [
      result[0].rates[days[0][0]]["EUR"],
      result[0].rates[days[0][1]]["EUR"],
      result[0].rates[days[0][2]]["EUR"],
      result[0].rates[days[0][3]]["EUR"],
      result[0].rates[days[0][4]]["EUR"],
      result[0].rates[days[0][5]]["EUR"],
      result[0].rates[days[0][6]]["EUR"],
      result[0].rates[days[0][7]]["EUR"],
      result[0].rates[days[0][8]]["EUR"],
      result[0].rates[days[0][9]]["EUR"],
      result[0].rates[days[0][10]]["EUR"],
      result[0].rates[days[0][11]]["EUR"],
      result[0].rates[days[0][12]]["EUR"],
      result[0].rates[days[0][13]]["EUR"],
      result[0].rates[days[0][14]]["EUR"],
      result[0].rates[days[0][15]]["EUR"],
      result[0].rates[days[0][16]]["EUR"],
      result[0].rates[days[0][17]]["EUR"],
      result[0].rates[days[0][18]]["EUR"],
      result[0].rates[days[0][19]]["EUR"],
      result[0].rates[days[0][20]]["EUR"],
      result[0].rates[days[0][21]]["EUR"],
      result[0].rates[days[0][22]]["EUR"],
      result[0].rates[days[0][23]]["EUR"],
      result[0].rates[days[0][24]]["EUR"],
      result[0].rates[days[0][25]]["EUR"],
      result[0].rates[days[0][26]]["EUR"],
      result[0].rates[days[0][27]]["EUR"],
      result[0].rates[days[0][28]]["EUR"],
      result[0].rates[days[0][29]]["EUR"],
      result[0].rates[days[0][30]]["EUR"],
        ],
      borderColor: "#9A00F5",
      fill: false,
      label:"EUR"
    },{
      data: [
      result[0].rates[days[0][0]]["BRL"],
      result[0].rates[days[0][1]]["BRL"],
      result[0].rates[days[0][2]]["BRL"],
      result[0].rates[days[0][3]]["BRL"],
      result[0].rates[days[0][4]]["BRL"],
      result[0].rates[days[0][5]]["BRL"],
      result[0].rates[days[0][6]]["BRL"],
      result[0].rates[days[0][7]]["BRL"],
      result[0].rates[days[0][8]]["BRL"],
      result[0].rates[days[0][9]]["BRL"],
      result[0].rates[days[0][10]]["BRL"],
      result[0].rates[days[0][11]]["BRL"],
      result[0].rates[days[0][12]]["BRL"],
      result[0].rates[days[0][13]]["BRL"],
      result[0].rates[days[0][14]]["BRL"],
      result[0].rates[days[0][15]]["BRL"],
      result[0].rates[days[0][16]]["BRL"],
      result[0].rates[days[0][17]]["BRL"],
      result[0].rates[days[0][18]]["BRL"],
      result[0].rates[days[0][19]]["BRL"],
      result[0].rates[days[0][20]]["BRL"],
      result[0].rates[days[0][21]]["BRL"],
      result[0].rates[days[0][22]]["BRL"],
      result[0].rates[days[0][23]]["BRL"],
      result[0].rates[days[0][24]]["BRL"],
      result[0].rates[days[0][25]]["BRL"],
      result[0].rates[days[0][26]]["BRL"],
      result[0].rates[days[0][27]]["BRL"],
      result[0].rates[days[0][28]]["BRL"],
      result[0].rates[days[0][29]]["BRL"],
      result[0].rates[days[0][30]]["BRL"],
    ],
      borderColor: "#44EB4B",
      fill: false,
      label:"BRL"
    },{
      data: [
      result[0].rates[days[0][0]]["GBP"],
      result[0].rates[days[0][1]]["GBP"],
      result[0].rates[days[0][2]]["GBP"],
      result[0].rates[days[0][3]]["GBP"],
      result[0].rates[days[0][4]]["GBP"],
      result[0].rates[days[0][5]]["GBP"],
      result[0].rates[days[0][6]]["GBP"],
      result[0].rates[days[0][7]]["GBP"],
      result[0].rates[days[0][8]]["GBP"],
      result[0].rates[days[0][9]]["GBP"],
      result[0].rates[days[0][10]]["GBP"],
      result[0].rates[days[0][11]]["GBP"],
      result[0].rates[days[0][12]]["GBP"],
      result[0].rates[days[0][13]]["GBP"],
      result[0].rates[days[0][14]]["GBP"],
      result[0].rates[days[0][15]]["GBP"],
      result[0].rates[days[0][16]]["GBP"],
      result[0].rates[days[0][17]]["GBP"],
      result[0].rates[days[0][18]]["GBP"],
      result[0].rates[days[0][19]]["GBP"],
      result[0].rates[days[0][20]]["GBP"],
      result[0].rates[days[0][21]]["GBP"],
      result[0].rates[days[0][22]]["GBP"],
      result[0].rates[days[0][23]]["GBP"],
      result[0].rates[days[0][24]]["GBP"],
      result[0].rates[days[0][25]]["GBP"],
      result[0].rates[days[0][26]]["GBP"],
      result[0].rates[days[0][27]]["GBP"],
      result[0].rates[days[0][28]]["GBP"],
      result[0].rates[days[0][29]]["GBP"],
      result[0].rates[days[0][30]]["GBP"],
    ],
      borderColor: "#DB3000",
      fill: false,
      label:"GBP",
    }]
  },
  options: {
    legend: {display: false}
  }
});
</script>

</html>
